<div class="clear"></div>
<div id="navContainer">
  <div class="navOuter">
    <div class="example">
      <ul id="nav">
        <li class="<%= action_name.eql?('index')? 'current': '' %>"><%= link_to 'Home', index_path %></li>
        <li><%= link_to 'Portfolio', "#" %></li>
        <li class="<%= action_name.eql?('about')? 'current': '' %>"><%= link_to 'About', about_path %></li>
        <li class="<%= action_name.eql?('new')? 'current': '' %>"><%= link_to 'Contact', new_contact_path %></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

</div>
