<div class="clear"></div>
<div id="bannerContainer">
  <div class="bannerOuter">
    <div id="slides-container" class="slides-container">
      <div id="slides">
        <div>
          <div class="slide-image"><%= image_tag 'image.jpg', alt: "Slide #1 image" %></div>
          <div class="slide-text">
            <h2>Slide #1</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque venenatis sagittis enim. Maecenas ligula erat, egestas congue, varius nec, sagittis nec, purus. In neque.</p>
            <p class="frontpage-button">
              <a href="#">Lorem ipsum dolor</a>
            </p>


          </div>
        </div>

        <div class="centerButton">
          <%= image_tag "iphone.png" %>
          <div class="centerP">

            <h2>Have fun with slides!</h2>
            <p>These slides can contain anything a webpage can! HTML, Javascript, images, flash or whatever! They're completely easy to edit and add to as well, no need to bother editing or even going anywhere near some confusing Javascript files, simply add a &lt;div&gt;&lt;/div&gt; tag with your slider content to the "slides" contain - it takes just seconds to do!</p>

          </div>
        </div>

        <div>
          <div class="slide-image slide-image-right"><%= image_tag 'google_android.png', width: "350", height: "269", alt: "Slide #3 image" %></div>
          <div class="slide-text">
            <h2>Slide #3</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque venenatis sagittis enim. Maecenas ligula erat, egestas congue, varius nec, sagittis nec, purus. In neque. Curabitur at metus tincidunt dui tristique molestie. Donec porta molestie tortor. Fusce euismod consectetuer sapien. Fusce ac velit.</p>


          </div>
        </div>
      </div>
      <div class="controls"><span class="jFlowNext"><span>Next</span></span><span class="jFlowPrev"><span>Prev</span></span></div>
      <div id="myController" class="hidden"><span class="jFlowControl">Slide 1</span><span class="jFlowControl">Slide 1</span><span class="jFlowControl">Slide 1</span></div>
    </div>


  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div id="contentContainer">
  <div class="contentOuter">

    <div class="nav2">
      <ul>
        <li> <a href="#"><%= image_tag "Untitled-1.jpg", width: "290", height: "134" %></a>
          <h6>Intuitive Options Panel</h6>
          <p>TechsPlace features an amazingly powerful administration panel. The     extensive array of options combined with a familiar WordPress user     interface make it the most usable options panel you've ever experienced.</p>
          <div class="clear"></div>
          <a href="#" class="more">Learn More →</a> </li>

        <li> <a href="#"><%= image_tag "shortcodes.jpg", width: "290", height: "134" %></a>
          <h6>Powerful ShortCodes</h6>
          <p>TechsPlace comes packed with over 100 powerful shortcodes. Create     Multi-column layouts, Insert stylish buttons and Employ powerful     interface tabs, all from within a simple point-and-click shortcode     manager.</p>
          <div class="clear"></div>
          <a href="#" class="more">Learn More →</a> </li>
        <li style="margin-left:0px;"> <a href="#"><%= image_tag "image.jpg", width: "290", height: "134" %></a>
          <h6>Elegant Page Layouts</h6>
          <p>Vertical Navigation? Horizontal Navigation? Left Sidebar? Right     Sidebar? TechsPlace comes packed with a never ending array of 20 different     page layouts and the ability to create an unlimited amount of sidebars.</p>
          <div class="clear"></div>
          <a href="#" class="more">Learn More →</a> </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
