 <!--[if IE]><script>
      $(document).ready(function() {

          $("#form_wrap").addClass('hide');

      })

  </script><![endif]-->

 <% if @contact.errors.any? %>
     <div id="error_explanation" style="margin-left: 30%; margin-top: 20px;">
       <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this car from being saved:</h2>

       <ul>
         <% @contact.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
 <% end %>

 <div class="clear"></div>

 <div id="wrap">
  <h1>Send a message</h1>
  <div id='form_wrap'>
      <%= form_for @contact do |f|%>
          <label for="name">Name: </label>
          <%= f.text_field :name %>
          <label for="email">Email: </label>
          <%= f.text_field :email %>
          <label for="email">Your Message : </label>
          <%= f.text_area :body %>
          <%= f.submit "Now, I send, thanks!" %>
    <%- end%>
  </div>
</div>
