<!DOCTYPE html>
<html>
<head>
  <title>TechPlaces</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "styles" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render partial: 'shared/header' %>
<%= render partial: 'shared/menu' %>
<% if flash[:notice] -%>
    <p class='notice'><%=h flash[:notice] %></p>
<% end -%>
<%= yield %>
<%= render partial: 'shared/footer' %>
</body>
</html>
